/**
 *
 * All scss here
 */
html, body, div, span, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      abbr, address, cite, code,
      del, dfn, em, img, ins, kbd, q, samp,
      small, strong, sub, sup, var,
      b, i,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, figcaption, figure, 
      footer, header, hgroup, menu, nav, section, summary,
      time, mark, audio, video {
          margin:0;
          padding:0;
          border:0;
          box-sizing: border-box;
          outline:0;
          font-size:100%;
          vertical-align:baseline;
          background:transparent;
      }

      body {
          line-height:1;
      }

      article,aside,details,figcaption,figure,
      footer,header,hgroup,menu,nav,section { 
          display:block;
      }

      nav ul {
          list-style:none;
      }

      blockquote, q {
          quotes:none;
      }

      blockquote:before, blockquote:after,
      q:before, q:after {
          content:'';
          content:none;
      }

      a {
          margin:0;
          padding:0;
          font-size:100%;
          vertical-align:baseline;
          background:transparent;
      }

      /* change colours to suit your needs */
      ins {
          background-color:#ff9;
          color:#000;
          text-decoration:none;
      }

      /* change colours to suit your needs */
      mark {
          background-color:#ff9;
          color:#000; 
          font-style:italic;
          font-weight:bold;
      }

      del {
          text-decoration: line-through;
      }

      abbr[title], dfn[title] {
          border-bottom:1px dotted;
          cursor:help;
      }

      table {
          border-collapse:collapse;
          border-spacing:0;
      }

      /* change border colour to suit your needs */
      hr {
          display:block;
          height:1px;
          border:0;   
          border-top:1px solid #cccccc;
          margin:1em 0;
          padding:0;
      }

      input, select {
          vertical-align:middle;
      }
    /****  END RESET *****/



    body {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      color: #2c3e50;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      margin: 0; }



$font-main-color: #3F3F3F;

/* mobile version designed at 378px */

main {
  margin: 5px auto 0;
/*  max-width: 960px;
*/  text-align: center; }

.header-mobile>*{
  display: inline-block;
}

.input{
  width: 70px;
  color: #216DDF;
}

.header-mobile{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 7px;
    box-shadow: 10px 5px 5px #BBBBBB;
}

.hidden-mobile{
  display: none;
}

.pool-pros-header{
    height: 35px;
}

.input-wrapper{
    border: 2px solid #216DDF;
    height: 35px;
    width: 102px;
    border-radius: 3px;
}

.fa-map-marker{
  padding-left: 5px;
  padding-top: 3px;
  color: #216DDF;
}

.hamburger-bars{    
    height: 40px;
    width: 40px;
    border-radius: 1007px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.58);
  }

  .options-list-container{
        background-color: #F6F6F6;
        padding: 4%;
  }

  .outer-wrapper> *{
    display: inline-block;
  }

  .dealers-7{
    color: #216DDF;
  }

  .filter-results{
    float: right;
  }

  .options-list{
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    padding: 5%;
    margin-top: 0%;
  }

  .service-selection-items li {
        margin-bottom: 25px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;
  }

  .name{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5%;
    margin-top: 33px;
  }

  .dealer {    
    margin: 0% 5%;
    list-style: none;
    border: 1px solid #D8D8D8;
    box-shadow: 1px 3px 7px 1px #e5e5e5;
    position: relative;
  }

  .dealer> *{
    list-style: none;
  }

  .phone-button{
    background-color: #216DDF;
    padding: 10px;
    border-radius: 2px;
    border: none;
    top: 10px;
    font-size: 18px;
    color: white;
    margin-left: 11px;
  }
  .tap{
    font-size: 10px;
    margin-right: 10px;
  }
.fa-phone:before{
     background-color: #083D8C;
    padding: 6px 7px;
    margin-right: 13px;
}

.talk{
    font-size: 14px;
    padding: 20px;
}

.mail-button{
    background: rgba(0,0,0,0.00);
    border: 1px solid #02C7C6;
    padding: 14px;
    border-radius: 3px;
}

.mail{
    width: 15px;
    height: 13px;
}

.contact{
    font-size: 15px;
    color: #083D8C;
    padding-left: 12px;
}

.hours{
      padding: 20px;
}

.hours li{
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
}

.dealer-footer-left {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  text-align: left;
}

.dealer-footer-left li{
    margin-bottom: 10px;
    padding-top: 13px;
    width: 50%;
}

.dealer-icon{
  height: 13px;
  width: 13px;
  margin-right: 9px;
}

.dealers-footer{
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    clear: both;
    background-color: #f6f6f6;
    padding-top: 19px;
    padding-left: 40px;
    padding-bottom: 39px;
    height: 125px;
}

.dealers-footer> *{
  color: #3F3F3F;
  font-size: 14px;
}

.card-wrapper{
      box-shadow: 1px 5px 20px 0px #EDEDED;
      width: 100%;
      margin: auto;
}

.dealers{
      margin: 0% 5% 13% 5%;
      display: flex;
      flex-flow: wrap;
}

.pool-pros-logo2{
  height: 25px;
  margin-top: 36px;
}

.primary-footer{
  background: #083D8C;
  clear: both;
}

.connect{
  color: white;
  float: left;
  margin-left: 45px;
}

.social-icons{
  float: right;
  margin-right: 45px;
}
.social-icons li{
  display: inline-block;
}

.clearfix{
    clear: both;
}

.image-water-mobile{
    height: 100px;
    background: url(../../../images/water-image-desktop.jpg) top left repeat-x red;
    background-size: cover;
    margin-top: 20px;
}
.facebook-icon{
    width: 10px;
    height: 15px;
}

.twitter-icon{
  width: 18px;
  height: 15px;
}

.youtube-icon{
  width: 18px;
  height: 15px;
}

.social-media{
    padding-top: 25px;
    padding-bottom: 39px;
}

hr {
    width: 90%;
    margin-left: 5%;
}

.secondary-footer{
    background: #216DDF;
    color: white;
    padding: 12px;
}

.footer-service-info{
    font-size: 13px;
    word-spacing: 3px;
}

.main-footer-info{
  font-size: 13px;
  word-spacing: 2px;
}

// Start modal css
.contact-form-full-wrapper {
input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #D8D8D8;
    border: 1px solid #ccc; 
    border-radius: 1px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 30px; 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: #0BC9C8;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

//:before makes it so that the parent of the modile is not position fixed.  So not in the flow.
.contact-form-bg {
  position: fixed;
  content: '';
  background: rgba(0,0,0,.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact-form-full-wrapper{
  display: none;
}

.contact-form-full {
  width: 95%;
  max-width: 600px;
  margin-top: 100px;
  background: white;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
}

.contact-form> *{
  color: #616161;
  font-size: 14px;
}

.form-header{
  background-color: #083D8C;
  color: white;
  padding: 20px;
}
.email { 
  font-size: 14px; 
  padding-bottom: 10px;
}

  .form-header-message {
    font-size: 26px;
    font-weight: 500;
  }
.form-message{
  padding: 32px 20px 15px 20px;
  font-size: 15px;
  color: #616161;
}
#subject{
  height:200px
}

.yes-no-list li{
  display: inline-block;
  list-style: none;
  padding-top: 10px;
  padding-right: 10px;
}

.send-button{
  color: #0BC9C8;
  font-size: 16px;
}

// End modal CSS
}

@media ( min-width: 1400px) {

  .input-wrapper{
   width: 119px;
  }

  .card-wrapper{
    margin: 19px auto;

  }

  .card-wrapper{
    width: 30%;
  }

  .hidden-desktop{
    display: none;
  }

  .hidden-mobile{
    display: block;
  }

  .header-contact{
      background: #083D8C;
      color: white;
      text-align: right;
      font-size: 12px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 27px;
  }
  .header-contact li {
    display: inline-block;
    margin-right: 50px;
  }
  .header-right li{
    display: inline-block;
    color: #083D8C;
    font-size: 15px;
    font-weight: 400;
  }

  .header-right{
    float: right;
    display: flex;
    align-items: center;
  }

  .header-left{
    float: left;
  }

  .options li{
    margin-right: 50px;
    font-size: 15px;
  }

  .second-header-desktop{
    box-shadow: 10px 5px 5px #BBBBBB;
    padding: 22px 70px;
    overflow: hidden;
  }

  .banner{
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #F6F6F6;
      border-radius: 4px;
      margin-left: 70px;
      margin-right: 70px;
      border: 1px solid #f6f6f6;
      padding-top: 25px;
      padding-bottom: 25px;
      
    p {
      font-size: 18px;
      margin-right: 65px;
      font-weight: 500;
    }
    ul{
     font-size: 14px;
    }
    li {
      margin-right: 35px;
    }
  }

  .banner-dealer{
    color: #216DDF;
  }
  .banner li{
    display: inline-block;
  }

  .dealers{
    margin: 2% 5% 5% 5%;
  }

  .dealer {
    border-radius: 8px;
    margin-right: 20px;
    margin: 0px;
    position: relative;
    box-shadow: 1px 3px 6px 2px #D8D8D8;
  }
  .phone2-icon{
    height: 30px;
    width: 30px;
  }
  .desktop-phone-number{
    font-size: 25px;
  }
  .name{
      font-size: 26px;
      font-weight: 500;
      line-height: 26px;
      min-height: 71px;
  }
  .connect{
      margin-left: 553px;
  }
  .social-icons{
        margin-right: 566px;
  }

  .social-icons li{
    margin-right: 8px;
  }
  .dealers-footer{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .input{
      height: 24px;
      width: 92px;
      color: #216DDF;
  }

  .options{
    margin-top: -14px;
  }
  .image-water-desktop{
    background-size: cover;
    background: url(../../../images/water-image-desktop.jpg) top left repeat-x;
    height: 200px;
    margin-top: 20px;

  }

 /*  .top-header-desktop{
    box-shadow: 10px 10px 5px #888888;
  } */

}

.menu-dropdown{
    border-bottom: 5px solid #0BC9C8;
    border-top: 5px solid #0BC9C8;
/*     box-shadow: 10px 10px 10px 10px #BBBBBB;
 */}

.menu-dropdown-header{
    position: relative;
    position: relative;
    height: 80px;
    text-align: center;
  h1{
    color: #01529E;
    font-size: 18px;
    padding-top: 36px;
    font-weight: 400;
  }
  img{
    height: 17px;
    position: absolute;
    right: 25px;
    top: 14px;
    widows: 17px;
  }
}


//Begin CSS for menu modal
.menu-option {
    background: #f6f6f6;
    padding: 25px 15px 25px 15px;
    margin-bottom: 2px;
    color: #616161;
    font-size: 18px;
}

.next-link{
  color: #0BC9C8;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  right: 20px;
}

.menu-option-wrapper{
  position: relative;
}

.menu-dropdown-wrapper{
   display: none;
   position: relative;
}

.menu-dropdown{
    position: fixed;
    overflow: scroll;
    top: 52px;
    z-index: 99;
    width: 100%;
    background: white;
}

//End CSS for menu modal
::placeholder{
  color: #216DDF;
  font-size: 12px;
  font-weight: 700;
}

.hr-desktop{
  position: absolute;
  top: 79px;
}
